.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* #header {
  height:50px;
  width: 100%;
  background-color:lightskyblue;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* #noteDisplay {
  display: inline-block;
  width: 50%;
  height:500px;
  border: solid black 1px;
  padding: 5px;
  margin: 15px;
  float:right;
  margin-right:20%;


}

#editNote {
  display:inline-block;
  width:50%;
  height:500px;
  border: solid black 1px;
  padding: 5px;
  margin: 10px;



}

#notesList {
  display:inline-block;
  width: 25%;
  border: solid black 1px;
  height:500px;
  margin: 10px;
  padding:0px;
  overflow:scroll;
  float:left;


}

#note {
  border: solid black 1px;
  margin: 0px;
  width:100%;
}

#signOut {
  display:inline-block
}

#content {
  width:100px;
  height:100px;
}
*/

#navHeader {
  display: inline-block;
  float: left;
}

#navButtons {
  display: inline-block;
  float: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#newForm {
  width:45%;
  height:50%;
  border:solid black 1px;
  margin:5% 27.5%;
  padding: 50px;
  /* background-color:lightpink; */
}

#editForm {
  margin:auto;
  width: 60%;
}

#logInForm {
  width:35%;
  height:50%;
  border:solid black 1px;
  margin:2% auto;
  padding: 50px;
}

Button {
  margin:0px auto;
}

textarea {
  resize: none;
  overflow:default;
}

#noteCard {
  display:inline-block;
  margin: 15px;
  height: 215px;
  overflow:auto;
}

#noteCard:hover {
  box-shadow: 8px 15px 15px lightslategray;
}

#cardHeader {
  /* background-color:#925E4F; */
  /* height: 30px; */
  /* border: 1px solid rgb(124, 85, 74); */
  /* padding:5px; */
  text-align:center;

}

#cardBody {
  /* background-color: #B49187; */
  /* color: black; */
  /* padding:15px; */
}

body {
  /* background-color: #99C5D2; */
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

/* .card {
  height: 200px;
  width: 50px;
  overflow:auto;
} */

#closeBtn {
  margin:0px;
  display:inline-block;
  float:right;
}

#noNotesCard {
  width: 300px;
  height: 500px;
  margin:auto;
  border:none;
  margin-top: 5%;
}

#addNote {
  margin:auto;
}

.modal-header h4{
  margin:auto;
}

#navBar {
  background-color: rgb(15, 146, 100);
}

#navHeader {
  height: 58px;
  line-height: 58px;
  color:rgb(5, 39, 23);
}

#headerLink{
  /* background-color: rgb(42, 160, 47); */
  padding: 7px 10px 7px 10px;
  border-radius: 10%;
  color:rgb(5, 39, 23);
  margin:10px;
}

#headerLink:hover {
  /* background-color:  rgb(29, 119, 34); */
  text-decoration: none;
  
}

#delLink {
  background-color: rgb(250, 0, 0);
  padding: 7px 10px 7px 10px;
  border-radius: 10%;
  color:white;
  /* border: 1px solid black; */

}

#delLink:hover {
  /* background-color:  rgb(189, 4, 4); */
  text-decoration: none;
  box-shadow:2px 5px 5px rgba(0,0,0,0.2);

  
}

#editLink {
  /* border: 1px solid black; */
  padding: 7px 10px 7px 10px;
  border-radius: 10%;
  color:rgb(0, 0, 0);
}

#editLink:hover {
  /* background-color:  rgb(77, 78, 97); */
  box-shadow:2px 5px 5px rgba(0,0,0,0.2);
  text-decoration: none;
  
}

/* #modal {
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5)
} */
